header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    height: 100%;

    @include respond-to(medium) {
      img {
        height: 20px;
      }
    }
    nav {
      @include respond-to(medium) {
        display: none;
      }

      @include respond-to(small) {
        display: none;
      }
      display: flex;
      align-items: center;
      gap: 2.25rem;
      ul {
        display: flex;
        gap: 1.875rem;
        align-items: center;

        a {
          color: rgba(0, 0, 0, 1);
          font-family: "DM Sans", sans-serif;
          font-size: 0.875rem;
          font-weight: 700;
          line-height: 1.25rem;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.button-red-default {
  border-radius: 1.25rem;
  background-color: #e0311b;
  padding: 0.625rem 1.5rem;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}
